.plugin__info {
	margin: 0 100px;
}

.plugin__header {
	display: flex;
}

.plugin__header__image {
	flex-shrink: 0;
	width: 400px;
	height: calc(400px * 1.2);

	background-position: center;
	background-size: cover;

	border-radius: 50px;
	border: rgb(213, 0, 255) 3px solid;
	box-shadow:
		0 0 5px rgb(168,0,255),
		0 0 25px rgb(168,0,255),
		0 0 75px rgb(123,0,255);
}

.plugin__header__info {
	margin: auto 0;
	margin-left: 50px;
	margin-right: 50px;
	width: 500px;
}

.name {
	font-size: 96px;
	text-shadow:
		0 0 5px rgb(213,0,255),
		0 0 10px rgb(213,0,255),
		0 0 25px rgb(213,0,255),
		0 0 50px rgb(168,0,255),
		0 0 75px rgb(123,0,255);
	width: fit-content;
	margin-bottom: 10px;
}

.price {
	font-size: 48px;
	color: white;
	margin-bottom: 10px;
	width: fit-content;
}

.discount {
	position: relative;
	animation: glow__blink__text 5s ease-out infinite;
}

.discount__window {
	display: none;
}

.discount .discount__window {
	font-family: Nunito-Bold;
	position: absolute;
	display: flex;
	font-size: 18px;
	background: linear-gradient(90deg,
	rgb(213,0,255) 0%,
	rgb(168,0,251) 100%);
	padding: 3px 5px;
	border-radius: 10px;
	width: fit-content;
	right: -70px;
	top: 0px;
	animation: glow__blink 5s ease-out infinite;
}

.discount .discount__window::after {
	display: block;
	content: "";
	position: absolute;
	opacity: 0.75;
	top: 0;
	left: 0;
	border-radius: 10px;
	width: 100%;
	height: 100%;
	background: linear-gradient(
		90deg,
	rgba(255, 255, 255, 0) 0%,
	rgba(255, 255, 255, 0.75) 100%
	);
	filter: blur(1px);
	background-repeat: no-repeat;
	background-position-x: -60px;
	animation: glow__wave 5s ease-out infinite;
}

@keyframes glow__wave {
	0% {
		background-position-x: -120px;
	}
	40% {
		background-position-x: 70px;
	}
	100% {
		background-position-x: 70px;
	}
}

@keyframes glow__blink {
	0% {
		box-shadow: 0 0 0 transparent;
	}
	15% {
		box-shadow:
			0 0 5px rgba(213,0,255,0.5),
			0 0 10px rgba(213,0,255,0.5),
			0 0 25px rgba(123,0,255,0.5);
	}
	25% {
		box-shadow:
			0 0 5px rgba(213,0,255,0.5),
			0 0 10px rgba(213,0,255,0.5),
			0 0 25px rgba(123,0,255,0.5);
	}
	100% {
		box-shadow: 0 0 0 transparent;
	}
}

@keyframes glow__blink__text {
	0% {
		text-shadow: 0 0 0 transparent;
	}
	15% {
		text-shadow:
			0 0 5px rgb(213,0,255),
			0 0 10px rgb(213,0,255),
			0 0 25px rgb(123,0,255);
	}
	25% {
		text-shadow:
			0 0 5px rgb(213,0,255),
			0 0 10px rgb(213,0,255),
			0 0 25px rgb(123,0,255);
	}
	100% {
		text-shadow: 0 0 0 transparent;
	}
}

.old__price {
	display: none;
}

.discount .old__price {
	/* text-decoration: line-through 3px white; */
	color: #b0b0b0;
	position: absolute;
	display: flex;
	font-size: 24px;
	width: fit-content;
	right: 0px;
	top: -20px;
	text-shadow: 0 0 0 transparent;
}

.discount .old__price::after {
	display: block;
	content: "";
	position: absolute;
	background-color: white;
	top: 50%;
	left: -5%;
	border-radius: 10px;
	width: 110%;
	height: 3px;
}

.main__info__spliter {
	height: 5px;
	border-radius: 100px;
	margin: 25px 0;
	box-shadow:
		0 0 5px rgb(123,0,255),
		0 0 10px rgb(123,0,255),
		0 0 25px rgb(123,0,255),
		0 0 50px rgb(123,0,255),
		0 0 75px rgb(123,0,255);
	background: linear-gradient(90deg,
	rgba(168,0,255,1) 0%,
	rgba(213,0,255,1) 50%,
	rgba(168,0,255,1) 100%);
}

.fast__description {
	font-size: 18px;
	color: white;
}

.buttons {
	display: flex;
	margin-top: 25px;
	margin-bottom: 50px;
	margin-left: 150px;
}

.button {
	display: block;
  position: relative;
	font-family: Nunito-Bold;
  	font-size: 32px;
	color: #111111;
    text-decoration: none;
	padding: 10px 30px;
	width: fit-content;
	border-radius: 150px;
	background: linear-gradient(90deg, rgba(213,0,255,1) 0%, rgba(123,0,255,1) 100%);
	transition:
		all 0.1s ease-out,
		box-shadow 0.2s ease-out;
	z-index: 0;
}

.button:hover {
	z-index: 1;
	color: white;
	box-shadow:
		0 0 5px rgb(123,0,255),
		0 0 25px rgb(123,0,255),
		0 0 75px rgb(123,0,255);
}

.description {
	font-size: 18px;
	margin-top: 20px;
	color: white;
}

.subdescription {
	font-size: 32px;
	margin-top: 50px;
	color: white;
}