.block__title {
	margin-top: 50px;
	margin-bottom: 35px;
	display: flex;
	justify-content: center;
	font-size: 48px;
	text-shadow:
		0 0 5px rgb(168,0,255),
		0 0 10px rgb(168,0,255),
		0 0 25px rgb(168,0,255),
		0 0 50px rgb(123,0,255),
		0 0 75px rgb(123,0,255);
}

.block__title::after {
	content: "";
	display: block;
	position: absolute;
	margin: 0 auto;
	margin-top: 75px;
	width: 500px;
	height: 5px;
	border-radius: 100px;
	box-shadow:
		0 0 5px rgb(123,0,255),
		0 0 10px rgb(123,0,255),
		0 0 25px rgb(123,0,255),
		0 0 50px rgb(123,0,255),
		0 0 75px rgb(123,0,255);
	background: linear-gradient(90deg,
	rgba(168,0,255,1) 0%,
	rgba(213,0,255,1) 50%,
	rgba(168,0,255,1) 100%);
}

.shop__line {
	display: flex;
	flex-wrap: wrap;
	padding: 0 25px;
	justify-content: center;
}

.shop__card {
	width: 500px;
	transform: scale(0);
	flex-shrink: 0;
	height: 350px;
	margin: 15px;
	background-color: #350050;
	border-color: rgba(168, 0, 255, 0);
	box-shadow: 0 0 50px rgba(213,0,255,0);
	border-radius: 50px;
	color: white;
	font-size: 32px;
	text-decoration: none;
	border-width: 3px;
	border-style: solid;
	background-size: auto calc(100% + 6px);
	background-position: center;
	z-index: 0;
	transition:
		all 0.2s ease-out,
		background-size 0.5s ease-out;
}

@media (prefers-reduced-motion: no-preference) {
	.shop__card__animation__entry {
		animation: show 0.5s ease-out;
		animation-fill-mode: forwards;
	}
}

@keyframes show {
	to {
    transform: scale(1);
	}
}

.shop__card:hover {
	background-size: auto calc(105% + 6px);
	box-shadow:
		0 0 5px rgb(168,0,255),
		0 0 25px rgb(168,0,255),
		0 0 75px rgb(123,0,255);
	border-color: rgb(213, 0, 255);
	z-index: 1;
}

.shop__card::before {
	content: "";
	position: absolute;
	border-radius: 50px;
	transform: translate(-3px, -3px);
	width: calc(100% + 6px);
	height: calc(100% + 6px);
	background: linear-gradient(
			to bottom left,
			rgb(168, 0, 255) 0%,
			rgb(168, 0, 255, 0.857) 0.3%,
			rgb(168, 0, 255, 0.726) 1.4%,
			rgb(168, 0, 255, 0.608) 3.2%,
			rgb(168, 0, 255, 0.502) 5.8%,
			rgb(168, 0, 255, 0.407) 9.3%,
			rgb(168, 0, 255, 0.324) 13.6%,
			rgb(168, 0, 255, 0.251) 18.9%,
			rgb(168, 0, 255, 0.189) 25.1%,
			rgb(168, 0, 255, 0.136) 32.4%,
			rgb(168, 0, 255, 0.093) 40.7%,
			rgb(168, 0, 255, 0.058) 50.2%,
			rgb(168, 0, 255, 0.032) 60.8%,
			rgb(168, 0, 255, 0.014) 72.6%,
			rgb(168, 0, 255, 0.003) 85.7%,
			rgb(168, 0, 255, 0) 100%
		);
	z-index: -1;
}

.shop__card__name {
	font-size: 50px;
	margin: 25px;
	margin-bottom: 0px;
	text-shadow:
	black 0 0 5px,
	black 0 0 25px,
	black 0 0 50px;
}

.shop__card__description {
	position: relative;
	display: block;
	line-height: 20px;
	font-size: 20px;
	// font-style: italic;
	margin-top: 10px;
	margin-left: 25px;
	margin-right: 25%;
	word-wrap: normal;
	// color: #dddddd;
	text-shadow:
		black 0 0 5px,
		black 0 0 5px,
		black 0 0 25px,
		black 0 0 50px;
}

.shop__card__price {
	display: flex;
	font-family: Nunito;
  	font-size: 40px;
	position: absolute;
	width: fit-content;
	text-align: end;
	padding: 0.75% 5%;
	box-shadow:
		0 0 5px rgb(123,0,255),
		0 0 25px rgb(123,0,255),
		0 0 75px rgb(123,0,255);
	border-radius: 150px;
	background: linear-gradient(
		90deg,
		#d500ff 0%,
		rgba(123,0,255,1) 100%
	);
	left: 25px;
	bottom: 25px;
}

.discount__window {
	display: none;
}

.discount .discount__window {
	font-family: Nunito-Bold;
	position: absolute;
	display: flex;
	font-size: 24px;
	background: linear-gradient(90deg,
	rgb(213,0,255) 0%,
	rgb(168,0,251) 100%);
	padding: 3px 5px;
	border-radius: 10px;
	width: fit-content;
	right: -45px;
	top: -20px;
	animation: rotating 5s ease-out infinite;
}

@keyframes rotating {
	0% {
		transform: rotate(0deg);
	}
	2% {
		transform: rotate(10deg);
	}
	6% {
		transform: rotate(-10deg);
	}
	10% {
		transform: rotate(5deg);
	}
	14% {
		transform: rotate(-5deg);
	}
	18% {
		transform: rotate(2.5deg);
	}
	22% {
		transform: rotate(-2.5deg);
	}
	26% {
		transform: rotate(0deg);
	}
}

.old__price {
	display: none;
}

.discount .old__price {
	color: #bbbbbb;
	position: absolute;
	display: flex;
	font-size: 32px;
	width: fit-content;
	left: 15px;
	top: -40px;
	text-shadow:
		black 0 0 25px,
		black 0 0 50px;
	// text-shadow: 0 0 0 transparent;
}

.discount .old__price::after {
	display: block;
	content: "";
	position: absolute;
	background-color: white;
	top: 50%;
	left: -5%;
	border-radius: 10px;
	width: 110%;
	height: 3px;
}